/.vscode
/browsers.ini
/browsers.ini.dev
*.pyc
/run.cmd
/run.sh
/android.sh
/visible.sh
/update.sh
/work
/custom
/*.cmd
/alive.txt
/10fps.sh
/logging
error.log
loop.sh
agent.sh
ios.sh
throttle.sh
internal/support/edge/wpt-etw/.vs/wpt-etw/v15/.suo
wptagent.alive
vpn-reverse-tether/amd64/tether.sh
vpn.sh
.DS_Store
