# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master, MoreActions]
  pull_request:
    branches: [ master, MoreActions]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.6.8
      uses: actions/setup-python@v3
      with:
        python-version: "3.6.8"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt-get install python3-psutil
        sudo apt-get install python3-xvfbwrapper
        sudo apt-get install python3-dnspython
        sudo apt-get install python3-monotonic
        sudo apt-get install python3-tornado
        sudo apt-get install python3-fonttools
        sudo apt-get install python3-wsaccel
        sudo apt-get install pylint

    - name: Install/Cache pip dependencies
      run: pip install -r .github/workflows/requirements.txt

    - name: Analysing the code with pylint
      run: |
       find -name "*.py" -not -path "./ws4py/*" -exec pylint {} --errors-only \;
    

    - name: Test with pytest
      run: |
        pytest -vv
        
    - name: Chrome Run # We could add Local Tests here
      run: |
        python3 wptagent.py -vvvv --location Test --xvfb --noidle --testurl 'https://www.google.com/' --browser Chrome

    - name: FireFox Run # We could add Local Tests here
      run: |
        python3 wptagent.py -vvvv --location Test --xvfb --noidle --testurl 'https://www.google.com/' --browser Firefox

    - name: Edge Run # We could add Local Tests here
      run: |
        python3 wptagent.py -vvvv --location Test --xvfb --noidle --testurl 'https://www.google.com/' --browser Edge
    
